*{
    margin: 0;
    font-family: Helvetica,'Times New Roman', Times, serif, sans-serif;
    user-select: none;
}
/* Hero Section */
.hero-section{
    width: 100%;
    height: 30vh;
    background-color: #161a1d;
    display: flex;
    align-items: center;
    gap: 5rem;
    user-select: none;
}
.Introduction{
    height: auto;
    width: auto;
    color: white;
    display: flex;
    flex-direction: column;
    line-height: clamp(1.2, 2vw, 1.8);
    user-select: none;
    margin-left: 5vw;
}
.Introduction h2{
    font-size: clamp(1.5rem, 4vw, 3rem);
}
#intro-line-1{
    margin-top: 10px;
    font-size: clamp(0.7rem,4vw,1.5rem);
}
#intro-line-2{
    font-size: 0.9rem;
}
.photo{
    background-image: url("Photo.jpg");
    background-size: cover;
    border-radius: 50%;
    width: 23vh;
    aspect-ratio: 1/1;
}

/* About self */
.About-self{
    color: #161a1d;
    height: auto;
    width: 100%;
    margin-top: 3vh;
    user-select: none;
}
h4{
    font-size:  clamp(1.5rem, 4vw, 2rem);
    margin-left: 5vw;
}
.About-self span{
    display: block;
    margin-top: 1vh;
    max-width: 90%;
    font-size: clamp(0.5rem, 1.9vw, 1rem);
    margin-left: 5vw;
}
/* Projects Section */
.projects{
    width: 100%;
    height: 450px;
    color: #161a1d;
    margin-top: 3vh;
}
.projects-display-box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;
    
}
.bg-box{
    display: flex;
    flex-wrap: wrap;       
    justify-content: center;
    gap: 20px;             
    padding: 20px;         
    box-sizing: border-box;
    border: 1px solid #161a1d;
}
.project-1-image{
    background-image: url("Amazon-clone-image.jpg");
}
.project-2-image{
    background-image: url("portfolio-image.jpg"); 
}
.project-1-image,
.project-2-image {
    background-size: cover;
    background-position: center;
    flex: 1 1 300px;       
    max-width: 600px;      
    height: 200px;
    border: 0.1px solid black; 
}
h5{
    font-size:  clamp(0.5rem, 3vw, 1.5rem);
    margin-top: 2vh;
}
.projects span{
    font-size: clamp(0.4rem, 1.9vw, 0.8rem);
    display: block;
    width: 30vw;
    margin-top: 1.5vh;
    margin-bottom: 1vh;
}
.project-links{
    display: flex;
    justify-content: space-evenly;
}
#live-button{
    background-color: #161a1d;
    color: white;
    border: none;
    border-radius: 10px;
    height: clamp(15px,10vh,30px);
    width: clamp(50px,60vw,100px);
}
#live-button:hover{
    border: 2px solid blue;
}
button{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 10px;
    height: clamp(15px,10vh,30px);
    width: clamp(50px,60vw,100px);
}
button:hover{
    border: 2px solid black;
}
/* contact-section */
.contact-section-part{
    margin-left: 5vw;
    margin-top: 1vh;
    font-size: clamp(0.5rem, 1.9vw, 1rem);
    display: flex;
    flex-wrap: nowrap;
}
.contact-type{
    margin-left: 10px;
}
.i{
    color: black;
    height: 2vh;
    width: 2vw;
}
.contact-section a{
    margin-left: 10px;
}
a:hover{
    color: blue;
}